header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  width: 100%;
  color: var(--tetriaryColor);
  position: sticky;
  top: 0;
  background-color: var(--darkColor);
  border-bottom: 1px solid var(--lightColor);
  z-index: 1;
  font-family: 'RalewayletterSpacin', sans-serif;
}

.nav-wrapper {
  display: flex;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home,
.projects,
.contact {
  width: 15rem;
  font-size: 1.3rem;
  /* font-weight: bold; */
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-wrapper div:hover {
  color: var(--primeColor);
  text-decoration: underline;
}

.nav-wrapper a {
  color: var(--tetriaryColor);
  text-decoration: none;
}
